In [42]:
import preprocessors

In [35]:
myLoader = preprocessors.Loader("C:/Users/emily/Documents/DissertationProject/training/training_setA_csv", ['HR', 'O2Sat', 'SBP', 'MAP', 'DBP', 'Resp', 'Temp'])
df = myLoader.ARIMA_VAR_preprocessor(max_patients=100, min_time_points=30)
y_train, y_pred = myLoader.split_train_test(df, 4)

Patient 0: Dropping — constant columns found
Patient 1: Less than 30 time points — skipping.
Patient 3: Less than 30 time points — skipping.
Patient 4: Dropping — constant columns found
Patient 5: Less than 30 time points — skipping.
Patient 9: Less than 30 time points — skipping.
Patient 10: Dropping — constant columns found
Patient 11: Less than 30 time points — skipping.
Patient 12: Dropping — constant columns found
Patient 14: Less than 30 time points — skipping.
Patient 15: Less than 30 time points — skipping.
Patient 16: Dropping — constant columns found
Patient 19: Less than 30 time points — skipping.
Patient 21: Less than 30 time points — skipping.
Patient 22: Less than 30 time points — skipping.
Patient 23: Dropping — constant columns found
Patient 24: Dropping — constant columns found
Patient 25: Less than 30 time points — skipping.
Patient 26: Less than 30 time points — skipping.
Patient 31: Dropping — constant columns found
Patient 32: Dropping — constant columns found
Patient 33: Less than 30 time points — skipping.
Patient 35: Less than 30 time points — skipping.
Patient 36: Less than 30 time points — skipping.
Patient 38: Dropping — constant columns found
Patient 39: Less than 30 time points — skipping.
Patient 40: Dropping — constant columns found
Patient 42: Dropping — constant columns found
Patient 44: Less than 30 time points — skipping.
Patient 46: Less than 30 time points — skipping.
Patient 47: Less than 30 time points — skipping.
Patient 48: Less than 30 time points — skipping.
Patient 49: Dropping — constant columns found
Patient 50: Dropping — constant columns found
Patient 52: Less than 30 time points — skipping.
Patient 54: Less than 30 time points — skipping.
Patient 55: Less than 30 time points — skipping.
Patient 56: Dropping — constant columns found
Patient 57: Less than 30 time points — skipping.
Patient 58: Dropping — constant columns found
Patient 59: Less than 30 time points — skipping.
Patient 60: Less than 30 time points — skipping.
Patient 61: Dropping — constant columns found
Patient 62: Less than 30 time points — skipping.
Patient 63: Less than 30 time points — skipping.
Patient 64: Less than 30 time points — skipping.
Patient 65: Less than 30 time points — skipping.
Patient 66: Less than 30 time points — skipping.
Patient 67: Dropping — constant columns found
Patient 68: Less than 30 time points — skipping.
Patient 69: Dropping — constant columns found
Patient 71: Less than 30 time points — skipping.
Patient 72: Less than 30 time points — skipping.
Patient 73: Less than 30 time points — skipping.
Patient 74: Dropping — constant columns found
Patient 76: Less than 30 time points — skipping.
Patient 83: Dropping — constant columns found
Patient 84: Dropping — constant columns found
Patient 85: Less than 30 time points — skipping.
Patient 87: Less than 30 time points — skipping.
Patient 88: Less than 30 time points — skipping.
Patient 91: Dropping — constant columns found
Patient 92: Less than 30 time points — skipping.
Patient 94: Dropping — constant columns found
Patient 95: Less than 30 time points — skipping.
Patient 97: Dropping — constant columns found
Patient 98: Less than 30 time points — skipping.
Patient 99: Dropping — constant columns found
Patient 100: Dropping — constant columns found
Patient 101: Dropping — constant columns found
Patient 102: Less than 30 time points — skipping.
Patient 103: Dropping — constant columns found
Patient 109: Dropping — constant columns found
Patient 112: Less than 30 time points — skipping.
Patient 113: Less than 30 time points — skipping.
Patient 115: Less than 30 time points — skipping.
Patient 116: Dropping — constant columns found
Patient 117: Less than 30 time points — skipping.
Patient 118: Less than 30 time points — skipping.
Patient 123: Less than 30 time points — skipping.
Patient 125: Less than 30 time points — skipping.
Patient 126: Dropping — constant columns found
Patient 127: Less than 30 time points — skipping.
Patient 128: Less than 30 time points — skipping.
Patient 133: Dropping — constant columns found
Patient 134: Less than 30 time points — skipping.
Patient 139: Less than 30 time points — skipping.
Patient 140: Dropping — constant columns found
Patient 141: Dropping — constant columns found
Patient 144: Less than 30 time points — skipping.
Patient 145: Less than 30 time points — skipping.
Patient 147: Dropping — constant columns found
Patient 148: Less than 30 time points — skipping.
Patient 149: Less than 30 time points — skipping.
Patient 150: Less than 30 time points — skipping.
Patient 151: Dropping — constant columns found
Patient 152: Less than 30 time points — skipping.
Patient 153: Less than 30 time points — skipping.
Patient 159: Dropping — constant columns found
Patient 160: Less than 30 time points — skipping.
Patient 165: Less than 30 time points — skipping.
Patient 166: Less than 30 time points — skipping.
Patient 167: Dropping — constant columns found
Patient 171: Less than 30 time points — skipping.
Patient 172: Less than 30 time points — skipping.
Patient 173: Less than 30 time points — skipping.
Patient 174: Less than 30 time points — skipping.
Patient 175: Less than 30 time points — skipping.
Patient 176: Less than 30 time points — skipping.
Patient 180: Less than 30 time points — skipping.
Patient 182: Dropping — constant columns found
Patient 191: Dropping — constant columns found
Patient 192: Dropping — constant columns found
Patient 193: Less than 30 time points — skipping.
Patient 194: Dropping — constant columns found
Patient 195: Less than 30 time points — skipping.
Patient 197: Less than 30 time points — skipping.
Patient 198: Dropping — constant columns found
Patient 199: Dropping — constant columns found
Patient 203: Less than 30 time points — skipping.
Patient 204: Dropping — constant columns found
Patient 205: Less than 30 time points — skipping.
Patient 206: Dropping — constant columns found
Patient 207: Less than 30 time points — skipping.
Patient 208: Dropping — constant columns found
Patient 209: Less than 30 time points — skipping.
Patient 210: Less than 30 time points — skipping.
Patient 214: Dropping — constant columns found
Patient 215: Dropping — constant columns found
Patient 220: Dropping — constant columns found
Patient 223: Dropping — constant columns found
Patient 225: Less than 30 time points — skipping.
Patient 227: Dropping — constant columns found
Patient 228: Less than 30 time points — skipping.
Patient 231: Less than 30 time points — skipping.
Patient 232: Less than 30 time points — skipping.
Patient 233: Less than 30 time points — skipping.
Patient 235: Less than 30 time points — skipping.
Patient 236: Dropping — constant columns found
Patient 237: Less than 30 time points — skipping.
Patient 238: Less than 30 time points — skipping.
Patient 239: Less than 30 time points — skipping.
Patient 240: Less than 30 time points — skipping.
Patient 77: Dropping — constant columns found
Patient 110: Dropping — constant columns found
Patient 156: Dropping — constant columns found

In [31]:
y_train

                      HR  O2Sat    SBP    MAP   DBP  Resp   Temp
Patient_ID ICULOS
0          0       117.0   99.0  116.0   97.0  81.0  20.0  36.00
           1       117.0   99.0  116.0   97.0  81.0  20.0  36.00
           2       117.0   99.0  116.0   97.0  81.0  20.0  36.00
           3       117.0   99.0  116.0   97.0  81.0  20.0  36.00
           4       117.0   99.0  116.0   97.0  81.0  20.0  36.00
...                  ...    ...    ...    ...   ...   ...    ...
96         327      72.0   99.0  163.0   97.0  95.0  18.0  37.39
           328      74.0   99.0  142.0   97.0  95.0  18.0  37.67
           329      74.0   98.0  152.0   75.0  95.0  19.0  37.67
           330      54.0   98.0  167.0  114.0  95.0  24.0  37.67
           331      55.0   93.0  130.0   83.0  95.0  22.0  37.72

[12101 rows x 7 columns]

In [4]:
y_pred

                      HR  O2Sat    SBP   MAP   DBP  Resp   Temp
Patient_ID ICULOS
0          44       72.0   99.0  158.0  98.0  68.0  26.0  37.06
           45       72.0   99.0  139.0  84.0  54.0  26.0  37.06
           46       76.0   98.0  138.0  82.0  53.0  27.0  37.11
           47       78.0   97.0  138.0  83.0  53.0  26.0  37.11
1          41      108.0   96.0   99.0  63.0  47.0  21.0  37.67
...                  ...    ...    ...   ...   ...   ...    ...
95         39       89.0   97.0  128.0  82.0  59.0  21.0  36.39
96         42       52.0   98.0  121.0  78.0  55.0  12.5  37.33
           43       52.0   98.0  115.0  74.0  53.0   9.0  37.33
           44       52.0   98.0  111.0  70.0  49.0  11.0  37.33
           45       51.0   99.0  112.0  71.0  51.0  11.0  37.33

[388 rows x 7 columns]

In [32]:
from statsmodels.tsa.stattools import adfuller

for col in y_train.columns:
    result = adfuller(y_train[col])
    
    print(f"{col}: p-value = {result[1]}")

HR: p-value = 4.885879185774651e-17
O2Sat: p-value = 3.7044665374306566e-22
SBP: p-value = 4.668991639998474e-17
MAP: p-value = 3.37891964908557e-19
DBP: p-value = 1.4207042111313727e-18
Resp: p-value = 3.8636821608730997e-19
Temp: p-value = 6.868580228528386e-22

In [38]:
from sktime.forecasting.var import VAR
model = VAR(maxlags=2, method="ols", verbose=False, trend="c", random_state=42)

In [39]:
from sktime.forecasting.base import ForecastingHorizon

model.fit(y_train)
fh = ForecastingHorizon([1, 2, 3, 4], is_relative=True)
forecasts = model.predict(fh)

In [40]:
forecasts

                           HR      O2Sat         SBP        MAP        DBP  \
Patient_ID ICULOS
0          44       70.862070  96.606026  157.424137  90.406187  66.518350
           45       72.017566  96.317298  158.910113  94.720804  67.250587
           46       73.806358  96.417051  155.880152  91.899776  65.550761
           47       75.167536  96.795875  152.375212  89.790486  63.889030
1          41      114.962771  95.330566  120.420020  77.046488  60.547877
...                       ...        ...         ...        ...        ...
95         39       97.861972  94.923259  134.879332  73.246784  50.416845
96         42       51.904165  99.574414  111.460142  71.652546  51.378877
           43       52.478270  99.004143  109.313918  71.538120  51.436881
           44       53.659174  99.055318  108.509953  70.462749  50.314254
           45       53.473427  99.256590  112.129461  72.187269  51.088954

                        Resp       Temp
Patient_ID ICULOS
0          44      23.382905  37.260062
           45      23.742392  37.458839
           46      26.959493  38.118423
           47      27.697126  38.359054
1          41      21.363237  37.715698
...                      ...        ...
95         39      30.909908  36.574575
96         42       8.972587  37.373600
           43      10.294684  37.213147
           44      11.060529  37.051725
           45      11.408650  37.018478

[388 rows x 7 columns]

In [44]:
import evaluators

myEvaluator = evaluators.Evaluator(y_pred, forecasts)
myEvaluator.sktime_dtw()
myEvaluator.sktime_ddtw()
myEvaluator.tslearn_dtw()

Mean sktime DTW distance for feature HR: 430.6348299632063
Mean sktime DTW distance for feature O2Sat: 26.052426743937513
Mean sktime DTW distance for feature SBP: 1470.487551996165
Mean sktime DTW distance for feature MAP: 665.5541113093424
Mean sktime DTW distance for feature DBP: 406.39751812593914
Mean sktime DTW distance for feature Resp: 75.4094156327051
Mean sktime DTW distance for feature Temp: 1.0890900583583811
Mean sktime DDTW distance for feature HR: 70.45827378496547
Mean sktime DDTW distance for feature O2Sat: 5.119314403816615
Mean sktime DDTW distance for feature SBP: 366.73642064963514
Mean sktime DDTW distance for feature MAP: 178.2568025041841
Mean sktime DDTW distance for feature DBP: 116.4563631465721
Mean sktime DDTW distance for feature Resp: 23.702112021211086
Mean sktime DDTW distance for feature Temp: 0.11503470668182936
Mean tslearn DTW distance: 47.05199057386343

In [12]:
from sktime.forecasting.compose import TransformedTargetForecaster
from sktime.forecasting.var import VAR
from sktime.transformations.series.difference import Differencer

model = TransformedTargetForecaster(steps=[
    ("diff", Differencer()),     # makes the data stationary
    ("var", VAR())               # fit VAR on differenced data
])